<div id="dasboard-component" class="df aliic juce mt-5">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 col-md-5 col-10 mt-5 text-center">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <!-- edit Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Edit </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" (click)="onClickEdit(element)">Edit</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="product-card-container" class="col-md-5 df jucc" [@widthGrow]="state" *ngIf="selectedProduct" >
    <mat-card class="p-2 w-50" [@widthGrow]="state">
      <mat-card-content>
        <div class="header">
          <P>Edit {{selectedProduct.name}} </P>
        </div>
        <form (ngSubmit)="onSubmit()" name="productForm" [formGroup]="productForm">
          <div class="nameInput">
            <mat-form-field class="full-width w-100" appearance="outline">
              <mat-label>Name</mat-label>
              <input formControlName="name" matInput placeholder="Enter name" required />
              <mat-error *ngIf="!productForm.controls['name'].valid">
                Name is required
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Status</mat-label>
              <input formControlName="status" matInput [type]="'text'" required />
              <mat-error *ngIf="!productForm.controls['status'].valid">
                Status is required
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Description</mat-label>
              <textarea formControlName="description" matInput required> </textarea>
              <mat-error *ngIf="!productForm.controls['description'].valid">
                Description is required
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Color</mat-label>
              <input formControlName="color" matInput [type]="'text'" required />
              <mat-error *ngIf="!productForm.controls['color'].valid">
                Color is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="submit-btn df jucc">
            <button class="btn btn-secondary">Save changes</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
