/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #292929;
}


.m-0 {
  margin: 0 !important;
}


.w-100 {
  width: 100%;
}

.p-1 {
  padding: 1em !important;
}

.p-2 {
  padding: 1.5em !important;
}
